header {
  background-image: url("./assets/mobile-header-img.png");
  height:508px;
  padding: 0px 36px;
  display: flex;
  flex-direction:column;
  align-items: flex-end;
  justify-content: space-between;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}

a {
  align-self: center;
  text-decoration: none;
}

h1 {
  font-family:'Montserrat';
  font-weight:bold;
  font-size: 40px;
  color: #FFFF;
  letter-spacing: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  display: block;
  width: fit-content;
  font-family:'Montserrat';
  font-weight: bold;
  color: #ffff;
  background-color:#a62941;
  font-size: 22px;
  padding: 2px;
  text-transform: uppercase;
  text-align: center;
  margin: 35px auto 25px auto;
}

h3 {
  font-family:'Montserrat';
  font-weight: 700;
  color: #a62941;
  text-transform: uppercase;
  text-align: left;
  margin:auto;
}

header h4 {
  font-size: 24px;
  text-align: left;
  font-family:'Montserrat';
  font-weight: 700;
  color: #FFFF;
  margin-top: 5px;
}


h5 {
  display: inline;
  font-family: 'Roboto';
  font-size: 13px;
  color: #FFFF;
  text-transform: uppercase;
  font-weight: normal;
}

h6 {
  display: inline;
  font-family: 'Roboto';
  font-size: 13px;
  color: #FFFF;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 10px;
}

p {
  color: #000000;
  font-family: "Montserrat";
}


.header-icons img {
  width: 39px;
  height: 39px;
  border: #FFFF solid 3px;
  border-radius: 50%;
  padding: 5px;
  margin-top: 40px;
  /*bilden ska vara 19px ramen runt 39 */
}


.header-overlay-text {
  align-self: flex-start;
}

.profile-picture {
  border: #FFFF solid 3px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-bottom: -10px;
}

.portfolio-section{
  display: flex;
  flex-direction: column;
  padding: 10px 36px;
  background-color: #FFFF;
}

.portfolio-section-grey{
  display: flex;
  flex-direction: column;
  padding: 10px 36px;
  background-color:#F4F4F4;
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.projects-img {
  max-width: 300px;
  opacity:0.38;
}

.picture-text {
  position: absolute; 
  font-size: 16px;
  font-weight: 700;
  font-family: 'Montserrat';
  color: #FDDFE7;
  text-transform: uppercase;
}

.tags {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tags h4 {
  display: block;
  width: fit-content;
  background-color: #FDDFE7;
  font-family:'Roboto';
  font-weight: 'regular';
  font-size: 9px;
  margin: 10px 5px 10px 5px;
  text-align: center;
}

.date {
  font-family: 'Roboto';
  color: #a62941;
  font-size: 17px;
  text-align: left;
  font-weight: 500;
  text-transform: uppercase;
}

.skills {
  display: flex;
}

.code-skills {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.toolbox {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: auto
}

.skills h4 {
  display: flex;
  font-size: 17px;
  font-family: 'Roboto';
  font-weight: 700;
  color: #a62941;
  text-transform: none;
  margin: 3px auto 3px auto;
}

.skills h5 {
  display: flex;
  font-family: 'roboto';
  font-size: 17px;
  color: #000000;
  margin: 3px auto 3px auto;
}

footer {
padding: 10px 36px;
background-color: #7c8377;
display: flex;
flex-direction: column;
align-items: center;
}

footer h2 {
  font-size: 21px;
  color: #FFFF;
  
}

footer a {
  color: #FFFF;
  font-family: Roboto;
  font-size: 17px;
}