header {
  background-image: url("./assets/new_header_mobile.jpg");
  height:508px;
  padding: 0px 36px;
  display: flex;
  flex-direction:column;
  align-items: flex-end;
  justify-content: space-between;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}

a {
  align-self: center;
  text-decoration: none;
}

h1 {
  font-family:'Montserrat';
  font-weight:bold;
  font-size: 40px;
  color: #FFFF;
  letter-spacing: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  display: block;
  width: fit-content;
  font-family:'Montserrat';
  font-weight: bold;
  color: #ffff;
  background-color:#a62941;
  font-size: 22px;
  padding: 2px;
  text-transform: uppercase;
  text-align: center;
  margin: 35px auto 25px auto;
}

h3 {
  font-family:'Montserrat';
  font-weight: 700;
  color: #a62941;
  text-transform: uppercase;
  text-align: left;
  margin:auto;
}

h4 {
  font-size: 24px;
  text-align: left;
  font-family:'Montserrat';
  font-weight: 700;
  color: #FFFF;
  margin-top: 5px;
}


h5 {
  display: inline;
  font-family: 'Roboto';
  font-size: 13px;
  color: #FFFF;
  text-transform: uppercase;
  font-weight: normal;
}

h6 {
  display: inline;
  font-family: 'Roboto';
  font-size: 13px;
  color: #FFFF;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 10px;
}

p {
  color: #000000;
  font-family: "Montserrat";
  text-align: center;
}

.icons {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.circles{
  border: 3px solid white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 5px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.icons img {
  width: 19px;
  height: 19px;
  padding: 8px;
}

.header-overlay-text {
  align-self: flex-start;
}

.profile-picture {
  border: #FFFF solid 3px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-bottom: -10px;
}

/* Decoration before first p can't get i to be placed where it should be
.decoration {
  display: flex;
  align-items: center;
  float: left;
  height: 18px;
  margin-right: 10px;
}

.line {
  width: 40px;
  height: 3px;
  background: #a62941;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #a62941;
  margin-left: -5px;
} */

.portfolio-section{
  display: flex;
  flex-direction: column;
  padding: 10px 36px;
  background-color: #FFFF;
}

.portfolio-section-grey{
  display: flex;
  flex-direction: column;
  padding: 10px 36px;
  background-color:#F4F4F4;
}

.portfolio-section-grey p{
  text-align: left;
 }

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#000000;
  max-width: 300px;
}

.projects-img {
  max-width: 300px;
  opacity:0.38;
}

.picture-text {
  position: absolute; 
  font-size: 16px;
  font-weight: 700;
  font-family: 'Montserrat';
  color: #FDDFE7;
  text-transform: uppercase;
}

.tags {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tags h4 {
  width: fit-content;
  background-color: #FDDFE7;
  font-family:'Roboto';
  font-weight: 500;
  font-size: 9px;
  margin: 10px 5px 10px 5px;
  text-align: center;
  color:black;
}

.date {
  display: inline;
  font-family: 'Roboto';
  color: #a62941;
  font-size: 17px;
  text-align: left;
  font-weight: 500;
  text-transform: uppercase;
}

.preview {
  display: inline;
  font-weight: 700;
  font-family: 'Roboto';
  font-size: 17px;
  text-align: left;
}

.thoughts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.thoughts img {
max-width: 300px;
margin-bottom: 25px;
}

.thoughts h4{
  font-family: 'Roboto';
  font-size: 21px;
  font-weight: 700;
  color: #000000;
  margin-bottom: auto;
}

.thoughts p {
  margin-top: auto;
  text-align: left;
}

.more-thoughts {
margin: 10px 0 10px 0;
}

.skills {
  display: flex;
  flex-wrap: wrap; 
}

.code-skills {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.toolbox {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: auto
}

.more {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.skills h4 {
  display: flex;
  font-size: 17px;
  font-family: 'Roboto';
  font-weight: 700;
  color: #a62941;
  text-transform: none;
  margin: 3px auto 3px auto;
}

.skills h5 {
  display: flex;
  font-family: 'roboto';
  font-size: 17px;
  color: #000000;
  margin: 3px auto 3px auto;
  text-align: center;
}

.portfolio-section-pink{
  padding: 40px 36px;
  background-color: #a62941;
}

.icons-more {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.icons-more img {
  width: 19px;
  height: 19px;
  padding: 8px;
}

footer {
padding: 20px 36px;
background-color:#FFFF;
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 20px;
}

footer h2 {
  font-size: 21px;
  color: #FFFF;
}

footer a {
  color: #a62941;
  font-family: Roboto;
  font-size: 17px;
}

/* MEDIA QUERIES */

@media (min-width: 668px) {
  header {
    background-image: url("./assets/desktop-header-2.jpg");
    padding: 40px 80px;
    background-size: cover;
  }

  h1 {
    font-size: 82px;
  }

  h2 {
    font-size: 48px;
  }

  h3{
    font-size: 38px;
  }

  h5, h6 {
  font-size: 28px;
  }

  h4 {
    font-size: 50px;
    margin-bottom: auto;
  }

  p {
    font-size: 30px;
  }

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header-text {
   width: 50%;
  }

  .profile-picture {
  align-self: flex-end;
  } 

  .portfolio-section{
    padding: 20px 108px;
  }

  .portfolio-section-grey {
    padding: 20px 108px;
  }

  .portfolio-section-grey p{
   text-align: left;
  }

  .projects {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .projects p, .other-projects p{
    text-align: left;
    font-size: 25px;
    margin: 0 auto;
  }

  .tags {
    align-self: flex-start;
  }

  .tags h4{
    font-size: 16px;
  }

  .thoughts h4{
    font-size: 30px;
  }


 .skills h4{
   font-size: 50px;
   text-transform: uppercase;
 }

 .skills h5{
  font-size: 28px;
  text-transform: uppercase;
}

  .preview {
  font-size: 25px;
  }

  footer h2{
    font-size: 48px;
  }

  footer a {
    font-size: 30px;
  }
}

@media (min-width: 1024px) {
  header {
    background-image: url("./assets/desktop-header-2.jpg");
    padding: 30px 180px;
    background-size: cover;
  }

  .header-text {
    max-width: 50%;
  }

  .profile-picture {
    align-self: flex-end;
    margin-bottom: -45px;
  }

  h1 {
    font-size: 82px;
  }

  h2 {
    font-size: 48px;
  }

  h4 {
    font-size: 50px;
  }

  p {
    font-size: 30px;
  }

  .projects {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 65%;
    margin: auto;
  }

  .projects a {
    align-items: flex-start;
    margin: 0 20px 0 0;
  }

  .projects h3 {
    margin: 0;
  }

  .projects p {
    font-size: 25px;
  }

  .other-projects, .more-thoughts {
    display: block;
    margin: auto;
  }

  .more-thoughts p {
    margin: 0 20px 0 0;
  }

  .other-projects a, .more-thoughts a{
    display: inline-block;
    text-decoration: underline;
    color: black;
    margin: 0 20px 0 0;
  }

  .other-projects h3{
    text-align: center;
    margin: 40px 0 20px 0;
  }

  span {
    font-family: 'Roboto';
    font-weight: 700;
    color: #a62941;
    font-size: 25px;
    text-transform: uppercase;
  }

  .tags {
    flex-wrap: nowrap;
    align-self: flex-start;
  }

  .tags h4{
    font-size: 16px;
  }

  .toolbox{
    width: auto;
    margin: auto;
  }

  .code-skills{
    width: auto;
    margin: auto;
  }

  .more {
    width: auto;
    margin: auto;
  }
}