header img{
  position: relative;
  width: auto;
  height: 508px;
}

h1 {
  font-family:'Montserrat';
  font-weight:bold;
  font-size: 40px;
  color: #FFFF;
  letter-spacing: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  display: block;
  width: fit-content;
  font-family:'Montserrat';
  font-weight: bold;
  color: #ffff;
  background-color:#a62941;
  padding: 2px;
  text-transform: uppercase;
}

h3 {
  font-family:'Montserrat';
  font-weight: 700;
  color: #a62941;
  text-transform: uppercase;
}

h4 {
font-size: 24px;
text-align: left;
font-family:'Montserrat';
font-weight: 700;
color: #FFFF;
margin-top: 5px;
}

h5 {
  display: inline;
  font-family: 'Roboto';
  font-size: 13px;
  color: #FFFF;
  text-transform: uppercase;
  font-weight: normal;
}

h6 {
display: inline;
font-family: 'Roboto';
font-size: 13px;
color: #FFFF;
text-transform: uppercase;
font-weight: 700;
}

p {
  color: #000000;
  font-family: "Montserrat";
}

.header-overlay {
  position: absolute;
  text-align: left;
  bottom: 182px;
  margin-left: 41px;
}

.header-icons {
  position: absolute;
  top: 105px;
  left: 210px;
}

.header-icons img {
  width: 39px;
  height: 39px;
}

.summary {
background-color: #F4F4F4;
}


.tech {
  background-color: #FFFF;

}

.featured-projects {

}

.other-projects {

}

.my-thoughts {

}

.skills {

}

.links {

}

footer {

}